
/* Navbar */

.navbar {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.95);
  backdrop-filter: saturate(180%) blur(10px);
  justify-content: center;
  align-content: center;
}


/* Footor */
.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

@media (prefers-color-scheme: dark) {

  .footer {
    border-color: #222;
  }
}
